/* ============================ Fonts ========================== */
@font-face {
  font-family: 'ProximaNova-Light';
  src: url("https://mailru.github.io/designsystemsclub/fonts/proximanova-light.otf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("https://mailru.github.io/designsystemsclub/fonts/proximanova-reg.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("https://mailru.github.io/designsystemsclub/fonts/proximanova-bold.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Black';
  src: url("https://mailru.github.io/designsystemsclub/fonts/proximanova-black.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'ProximaNova-Extrabold';
  src: url("https://mailru.github.io/designsystemsclub/fonts/proximanova-xbold.otf");
  font-weight: 800;
  font-style: normal; }
/* ============================ Common ========================== */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'ProximaNova-Regular', sans-serif;
  color: #333333;
  font-size: 15px;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  padding: 20px; }
  @media (max-width: 768px) {
    body {
      padding: 12px; } }

a {
  text-decoration: none;
  color: #333333;
  cursor: pointer; }

.content-block {
  background: #fafafa;
  border-radius: 12px;
  width: 100%;
  height: 100%; }
  .content-block_company {
    background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/top-left.svg");
    background-position: top 0px left 0px;
    background-repeat: no-repeat; }

/* ============================ Containers ========================== */
.hero-block {
  width: 100%;
  height: 910px;
  background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/top-left.svg"), url("https://mailru.github.io/designsystemsclub/img/bg-graphics/top-right.svg");
  background-position: top 0px left 0px, top 100px right 0px;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    .hero-block {
      height: 720px; } }
  @media (max-width: 640px) {
    .hero-block {
      background-size: 100%, 50%; } }
  @media (max-width: 480px) {
    .hero-block {
      height: 660px;
      background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/top-left.svg");
      background-position: top 0px left 0px; } }
  @media (max-width: 480px) {
    .hero-block {
      height: 600px; } }

.true-systems-block {
  width: 100%;
  height: auto;
  background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/articles-left.svg"), url("https://mailru.github.io/designsystemsclub/img/bg-graphics/articles-right.svg");
  background-position: top 500px left 0px, top 100px right 0px;
  background-repeat: no-repeat;
  margin-bottom: 80px; }

.basic-systems-block {
  width: 100%;
  height: auto;
  margin-bottom: 100px; }

.articles-block {
  width: 100%;
  height: auto;
  margin-bottom: 100px; }
  .articles-block_container {
    max-width: 1244px;
    min-height: 400px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    background: #ffffff;
    box-shadow: 0 24px 60px 0 rgba(0, 0, 0, 0.12);
    border-radius: 14px;
    padding: 20px;
    padding-bottom: 40px; }
    @media (max-width: 1404px) {
      .articles-block_container {
        margin: 0 40px; } }
    @media (max-width: 800px) {
      .articles-block_container {
        margin: 0 20px; } }
  .articles-block_item {
    display: block;
    text-decoration: none; }
    .articles-block_item:hover {
      background: #f0f0f0; }
    .articles-block_item-wrapper {
      padding: 16px;
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.12); }
    .articles-block_item-header {
      font-size: 17px;
      line-height: 24px;
      font-weight: 600;
      font-family: 'ProximaNova-Bold';
      color: #333333; }
    .articles-block_item-subtitle {
      display: inline-block;
      width: 100%; }
    .articles-block_item-author {
      float: left;
      font-size: 17px;
      line-height: 24px;
      font-weight: 100;
      font-family: 'ProximaNova-Light';
      color: #999999; }
    .articles-block_item-source {
      float: right;
      font-size: 17px;
      line-height: 24px;
      font-weight: 100;
      font-family: 'ProximaNova-Light';
      color: #999999; }

.tools-block {
  width: 100%;
  height: auto;
  margin-bottom: 80px; }

.tags-block {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin-top: -40px;
  margin-bottom: 80px; }
  .tags-block_inCard {
    margin-top: 0px;
    margin-bottom: 0px; }
  .tags-block_tag {
    background: #f0f0f0;
    color: #333333;
    border-radius: 4px;
    font-weight: 600;
    font-family: 'ProximaNova-Bold';
    font-size: 15px;
    letter-spacing: 0.5px;
    line-height: 40px;
    padding: 0 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
    cursor: pointer; }
    .tags-block_tag-secondary {
      background: none;
      color: #999999; }
      .tags-block_tag-secondary:hover {
        background: whitesmoke;
        color: #333333; }
    .tags-block_tag:hover {
      background: #e6e6e6; }
    .tags-block_tag + .tags-block_tag {
      margin-left: 16px; }

.footer-block {
  width: 100%;
  height: 340px;
  background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/footer-img.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  text-align: center; }
  .footer-block_text {
    font-size: 17px;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 12px;
    color: #333333;
    letter-spacing: 1px;
    margin: 0 20px; }
    .footer-block_text a {
      font-weight: 600;
      text-decoration: none;
      color: #0077cc; }
      .footer-block_text a:hover {
        text-decoration: underline; }

/* ============================ Graphics ========================== */
.graphics {
  display: inline-block;
  z-index: 1;
  pointer-events: none; }

.company-page_logo {
  margin-top: -100px; }
  .company-page_logo img {
    width: 320px;
    height: 320px;
    margin: 0 auto;
    display: block; }

/* ============================ Titles ========================== */
.titles_hero {
  margin-left: 140px;
  padding-top: 200px; }
  @media (max-width: 892px) {
    .titles_hero {
      margin-left: 80px; } }
  @media (max-width: 832px) {
    .titles_hero {
      margin-left: 40px;
      padding-top: 120px; } }
  @media (max-width: 483px) {
    .titles_hero {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 80px; } }
  .titles_hero_heading {
    letter-spacing: 6px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 36px;
    position: relative;
    z-index: 1;
    line-height: .8; }
    @media (max-width: 421px) {
      .titles_hero_heading {
        margin-bottom: 24px; } }
    .titles_hero_heading::before {
      content: '';
      background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/hero-img.svg");
      width: 278px;
      height: 266px;
      position: absolute;
      z-index: 0;
      top: -159px;
      left: -53px; }
      @media (max-width: 832px) {
        .titles_hero_heading::before {
          top: -100px;
          left: -58px;
          transform: scale(0.7); } }
    .titles_hero_heading_1 {
      display: block;
      font-family: 'ProximaNova-Black', sans-serif;
      font-size: 88px;
      z-index: 1;
      position: relative; }
      @media (max-width: 560px) {
        .titles_hero_heading_1 {
          font-size: 72px; } }
      @media (max-width: 444px) {
        .titles_hero_heading_1 {
          font-size: 60px; } }
      @media (max-width: 359px) {
        .titles_hero_heading_1 {
          font-size: 48px; } }
    .titles_hero_heading_2 {
      display: block;
      font-family: 'ProximaNova-Light', sans-serif;
      font-size: 88px;
      font-weight: 100;
      z-index: 1;
      position: relative; }
      @media (max-width: 560px) {
        .titles_hero_heading_2 {
          font-size: 72px; } }
      @media (max-width: 444px) {
        .titles_hero_heading_2 {
          font-size: 60px; } }
      @media (max-width: 359px) {
        .titles_hero_heading_2 {
          font-size: 48px; } }
  .titles_hero_text {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    width: 680px;
    margin-bottom: 36px; }
    @media (max-width: 832px) {
      .titles_hero_text {
        width: auto; } }
    @media (max-width: 560px) {
      .titles_hero_text {
        font-size: 20px;
        line-height: 28px; } }
    @media (max-width: 421px) {
      .titles_hero_text {
        font-size: 17px;
        line-height: 24px; } }
.titles_companies {
  margin: 40px; }
  @media (max-width: 400px) {
    .titles_companies {
      margin: 40px 20px; } }
  .titles_companies_heading {
    display: block;
    font-family: 'ProximaNova-Black', sans-serif;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 6px;
    color: #333333;
    text-transform: uppercase;
    position: relative;
    z-index: 0;
    line-height: 1;
    text-align: center; }
    @media (max-width: 712px) {
      .titles_companies_heading {
        font-size: 48px;
        line-height: 56px; } }
    @media (max-width: 608px) {
      .titles_companies_heading {
        font-size: 40px;
        line-height: 48px; } }
    @media (max-width: 530px) {
      .titles_companies_heading {
        font-size: 32px;
        line-height: 40px; } }
    @media (max-width: 430px) {
      .titles_companies_heading {
        font-size: 28px;
        line-height: 32px; } }
    @media (max-width: 400px) {
      .titles_companies_heading {
        font-size: 24px;
        line-height: 32px; } }
    @media (max-width: 360px) {
      .titles_companies_heading {
        font-size: 20px;
        line-height: 28px; } }
    @media (max-width: 608px) {
      .titles_companies_heading_inside {
        font-size: 48px;
        line-height: 56px; } }
    @media (max-width: 530px) {
      .titles_companies_heading_inside {
        font-size: 40px;
        line-height: 48px; } }
    @media (max-width: 430px) {
      .titles_companies_heading_inside {
        font-size: 32px;
        line-height: 40px; } }
    .titles_companies_heading-decoration_true::before {
      content: '';
      background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/companies-img.svg");
      width: 329px;
      height: 293px;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .titles_companies_heading-decoration_basic::before {
      content: '';
      background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/articles-bottom.svg");
      width: 534px;
      height: 344px;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .titles_companies_heading-decoration_articles {
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%); }
      .titles_companies_heading-decoration_articles::before {
        content: '';
        background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/articles-bottom.svg");
        width: 534px;
        height: 344px;
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 200%; }
        @media (max-width: 560px) {
          .titles_companies_heading-decoration_articles::before {
            top: 280%; } }
        @media (max-width: 480px) {
          .titles_companies_heading-decoration_articles::before {
            transform: scale(0.7) translate(-70%, -50%);
            top: 90%; } }
    .titles_companies_heading-decoration_presentations::before {
      content: '';
      background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/companies-img.svg");
      width: 329px;
      height: 293px;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 170%; }
      @media (max-width: 560px) {
        .titles_companies_heading-decoration_presentations::before {
          top: 220%; } }
    .titles_companies_heading-decoration_tools::before {
      content: '';
      background-image: url("https://mailru.github.io/designsystemsclub/img/bg-graphics/companies-img.svg");
      width: 329px;
      height: 293px;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 170%; }
      @media (max-width: 560px) {
        .titles_companies_heading-decoration_tools::before {
          top: 220%; } }
  .titles_companies_subtitle {
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 16px;
    position: relative;
    z-index: 1; }
    @media (max-width: 560px) {
      .titles_companies_subtitle {
        font-size: 20px;
        line-height: 28px; } }
    @media (max-width: 400px) {
      .titles_companies_subtitle {
        font-size: 17px;
        line-height: 24px; } }

/* ============================ Controls ========================== */
.button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 100;
  border-radius: 28px;
  border: none;
  box-shadow: none;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 20px;
  line-height: 60px;
  color: #333333; }
  .button_main {
    background: #FFF63F;
    text-align: center;
    padding: 0 40px; }
    @media (max-width: 483px) {
      .button_main {
        width: 100%; } }
    .button_main:hover {
      background: #f5ec3c; }
  .button_back {
    background: #ffffff;
    box-shadow: 0 24px 60px 0 rgba(0, 0, 0, 0.12);
    padding: 0 24px;
    font-size: 20px;
    font-weight: 600;
    line-height: 60px;
    margin: 20px;
    cursor: pointer; }
    .button_back::before {
      content: '';
      background-image: url("https://mailru.github.io/designsystemsclub/img/icons/back.svg");
      width: 18px;
      height: 14px;
      position: relative;
      display: inline-block;
      margin-right: 16px; }
    .button_back:hover {
      cursor: pointer;
      background: #f0f0f0;
      box-shadow: none;
      transition-property: box-shadow, background;
      transition-duration: 0.15s;
      transition-timing-function: ease-out; }

/* ============================ Cards ========================== */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  max-width: 1244px;
  margin: 0 auto;
  z-index: 1;
  position: relative; }
  .cards_tools {
    grid-template-columns: repeat(2, 1fr);
    max-width: 816px; }
  @media (max-width: 1364px) {
    .cards {
      margin: 0 40px; } }
  @media (max-width: 1207px) {
    .cards {
      grid-gap: 20px; } }
  @media (max-width: 1167px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      max-width: 816px;
      margin: 0 auto; } }
  @media (max-width: 936px) {
    .cards {
      margin: 0 40px; } }
  @media (max-width: 768px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
      max-width: 388px;
      margin: 0 auto; } }
  @media (max-width: 452px) {
    .cards {
      margin: 0 20px; } }
  .cards_item {
    background: #ffffff;
    box-shadow: 0 24px 60px 0 rgba(0, 0, 0, 0.12);
    border-radius: 14px;
    padding: 0 20px 40px 20px;
    cursor: pointer; }
    .cards_item_logo img {
      width: 160px;
      height: 160px;
      margin: 0 auto;
      display: block; }
    .cards_item_text-block {
      max-width: 308px;
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 36px;
      color: #333333; }
    .cards_item_title {
      font-size: 17px;
      line-height: 24px;
      font-weight: normal;
      margin-bottom: 12px;
      font-weight: 600;
      font-family: 'ProximaNova-Bold';
      color: #333333; }
    .cards_item_text {
      font-size: 15px;
      line-height: 20px;
      font-weight: normal;
      margin-bottom: 8px; }
