extends ../../base_templates/base

block body
  .content-block.content-block_company
    a(href="../index.html").button.button_back Вернуться
    .company-page_logo
      img(src="https://mailru.github.io/designsystemsclub/img/logos/Yandex.svg")
    .tags-block
      a(href="https://ru.bem.info/"  ).tags-block_tag
          | сайт
      a(href="#tools").tags-block_tag
          | инструменты
              
              
    .tools-block
      .titles.titles_companies
        h2#tools.titles_companies_heading.titles_companies_heading_inside.titles_companies_heading-decoration_tools
          | Инструменты

      .cards.cards_tools      
        a(href="mailru.html"  ).cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Beast.svg")
          .cards_item_text-block
            .cards_item_title
              | Beast
            .cards_item_text
              | Инструмент создания интерфейса веб-приложений.

              
        a(href="yandex.html"  ).cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Yandex.svg")
          .cards_item_text-block
            .cards_item_title
              | Depot
            .cards_item_text
              | Фреймворк для дизайнеров интерфейсов, работающих над большими проектами.




    include ../../base_templates/footer.pug
