doctype html
html
  head
    title Design Systems Club
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='/img/favicon@2x.ico', rel='shortcut icon', type='image/x-icon')
    meta(name='description', content='Design Systems Club')
    meta(property='og:title', content='DS Club')
    meta(property='og:description', content='Design Systems Club')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='DS Club')
    meta(property='og:image', content='/img/og-img.jpg')
    // Links & Scripts
    link(rel='stylesheet', type='text/css', href='/style/style.css')
    script(type='text/javascript', src='.js/jquery-1.3.2.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&subset=cyrillic', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js')
    script(type='text/javascript', src='/js/modernizr.js')
  body
  
    block body
      
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-61473114-4')  
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-61473114-4');
