doctype html
html
  head
    title Design Systems Club — Каталог отечественных дизайн-систем
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    mate(name='keywords', content='дизайн-система, дизайн-системы, design system, унификация, фреймворк, платформа, ui kit, статьи, презентации, каталог, список, справочник, подборка, гайдлайн, живой гайдлайн, storybook, кит, компонент, паттерн, модульный дизайн, атомарный дизайн, дизайн, дизайн интерфейсов, интерфейс, продуктовый дизайн')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='http://designsystemsclub.ru/img/service/favicon@2x.ico', rel='shortcut icon', type='image/x-icon')
    meta(name='description', content='Каталог отечественных компонентных дизайн-систем, реализованных на технологическом уровне. Живые гайдлайны, статьи, презентации, выступления и другие материалы о них.')
    meta(name='author', content='Андрей Сундиев, Юрий Ветров')
    meta(name='copyright', content='Сайт создан группой энтузиастов: Андрей Сундиев и Юрий Ветров')
    meta(property='og:title', content='Design Systems Club — Каталог отечественных дизайн-систем')
    meta(property='og:description', content='Каталог отечественных компонентных дизайн-систем, реализованных на технологическом уровне. Живые гайдлайны, статьи, презентации, выступления и другие материалы о них.')
    meta(property='og:type', content='website')
    meta(property='og:site_name', content='Design Systems Club')
    meta(property='og:image', content='http://designsystemsclub.ru/img/service/og-img.jpg')
    meta(property='og:url', content='http://designsystemsclub.ru')
    meta(name='google-site-verification', content='S-VSFLhXwlJkgCn0u-0Ck40IOFGGKK3UCTMEKVU6jqU')
    meta(name='google-site-verification', content='_uynQHFIWst0RxRDkk2bSgEHg97iuVI03PH5u2jWskE')
    // Links & Scripts
    link(rel='stylesheet', type='text/css', href='/style/style.css')
    script(type='text/javascript', src='js/jquery-1.3.2.min.js')
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700&subset=cyrillic', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js')
    script(type='text/javascript', src='/js/modernizr.js')
  body
  
    block body
      
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-61473114-4')  
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-61473114-4');
