.footer-block
  .footer-block_text
    |  Mail.Ru Design #[a(href="https://www.facebook.com/mailrudesign/") @mailrudesign]
    br
    |  Андрей Сундиев #[a(href="https://www.facebook.com/asundiev")  @asundiev] и Юрий Ветров #[a(href="https://www.facebook.com/jvetrau") @jvetrau]  
  .footer-block_text.footer-block_text_secondary
    |  Если ваша дизайн-система — не просто UI Kit в Sketch, но имеет компоненты на технологическом уровне — Напишите любому из нас и мы оперативно добавим вас (лучше сразу прислать логотип в векторе и список ссылок).
  button.button.button_main  
    a(href="http://eepurl.com/deKCzL") Подписаться на рассылку
