.footer-block
  .footer-block_text
    |  Mail.Ru Design #[a(href="https://www.facebook.com/mailrudesign/") @mailrudesign]
    br
    |  Андрей Сундиев #[a(href="https://www.facebook.com/asundiev")  @asundiev] и Юрий Ветров #[a(href="https://www.facebook.com/jvetrau") @jvetrau]  
  button.button.button_main  
    a(href="https://mail.us17.list-manage.com/subscribe?u=83fc54532f738f70243dd0a38&id=15e2e3655e") Подписаться на рассылку
