/* ============================ Fonts ========================== */

@font-face{
    font-family: 'ProximaNova-Light';
    src: url('https://mailru.github.io/designsystemsclub/fonts/proximanova-light.otf');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-Regular';
    src: url('https://mailru.github.io/designsystemsclub/fonts/proximanova-reg.otf');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-Bold';
    src: url('https://mailru.github.io/designsystemsclub/fonts/proximanova-bold.otf');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-Black';
    src: url('https://mailru.github.io/designsystemsclub/fonts/proximanova-black.otf');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'ProximaNova-Extrabold';
    src: url('https://mailru.github.io/designsystemsclub/fonts/proximanova-xbold.otf');
    font-weight: 800;
    font-style: normal;
}
