extends ../base_templates/base

block body
  .content-block
    .hero-block
      .titles.titles_hero
        h1.titles_hero_heading
          span.titles_hero_heading_1
            | Design systems             
          span.titles_hero_heading_2
            | Club
        p.titles_hero_text
          | Несколько слов о том, зачем мы здесь, собственно, собрались и что интересного вы найдете на этой странице.          
        button.button.button_main 
          a(href="https://mail.us17.list-manage.com/subscribe?u=83fc54532f738f70243dd0a38&id=15e2e3655e") Подписаться на рассылку

    .true-systems-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_true
          | компонентные
          br
          | дизайн-системы
          
      .cards 
        .cards_item
          a(href="companies/alfabank.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/Alfabank.svg")
          .cards_item_text-block
            .cards_item_title
              | Feather
            .cards_item_text
              | Дизайн-команда одного из ведущих банков.
          .tags-block.tags-block_inCard
            a(href="https://alfa-laboratory.github.io/arui-feather/styleguide/").tags-block_tag
                | сайт
            a(href="companies/alfabank.html").tags-block_tag.tags-block_tag-secondary
                | подробнее  

        .cards_item
          a(href="companies/gov.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/gov.svg")
          .cards_item_text-block
            .cards_item_title
              | Дизайн Государственных Систем
            .cards_item_text
              | Единая платформа для сайтов государственных органов и учреждений.
          .tags-block.tags-block_inCard
            a(href="http://gov.design/").tags-block_tag
                | сайт
            a(href="companies/gov.html").tags-block_tag.tags-block_tag-secondary
                | подробнее  
         
        .cards_item
          a(href="companies/mailru.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/MailRu.svg")
          .cards_item_text-block
            .cards_item_title
              | Paradigm
            .cards_item_text
              | Портальная дизайн-команда постепенно унифицирует продукты.
          .tags-block.tags-block_inCard
            a(href="http://design.mail.ru/paradigm/").tags-block_tag
                | сайт
            a(href="companies/mailru.html").tags-block_tag.tags-block_tag-secondary
                | подробнее    

        .cards_item
          a(href="companies/rambler.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/Rambler.svg")
          .cards_item_text-block
            .cards_item_title
              | Rambler
            .cards_item_text
              | Дизайн-команда одного из крупнейших отечественных порталов.
          .tags-block.tags-block_inCard
            a(href="https://brand.rambler.ru/").tags-block_tag
                | сайт
            a(href="companies/rambler.html").tags-block_tag.tags-block_tag-secondary
                | подробнее  

        .cards_item
          a(href="companies/yandex.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/Yandex.svg")
          .cards_item_text-block
            .cards_item_title
              | Лего
            .cards_item_text
              | Платформа от создателей БЭМ для унификации продуктов компании.
          .tags-block.tags-block_inCard
            a(href="https://ru.bem.info/").tags-block_tag
                | сайт
            a(href="companies/yandex.html").tags-block_tag.tags-block_tag-secondary
                | подробнее  

    .basic-systems-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_basic
          | дизайн-системы
        p.titles_companies_subtitle
          | Нет публичной ссылки на сайт или репозиторий

      .cards
        .cards_item
          a(href="companies/acronis.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/Acronis.svg")
          .cards_item_text-block
            .cards_item_title
              | Acronis
            .cards_item_text
              | Унификация веб- и десктопных продуктов.
          .tags-block.tags-block_inCard
            a(href="companies/acronis.html").tags-block_tag.tags-block_tag-secondary
                | подробнее 

        .cards_item
          a(href="companies/megafon.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/Megafon.svg")
          .cards_item_text-block
            .cards_item_title
              | Мегафон
            .cards_item_text
              | Дизайн-команда отвечает за портал, интернет-магазин, личный кабинет и цифровые гайдлайны бренда.
          .tags-block.tags-block_inCard
            a(href="http://ui.megafon.ru/").tags-block_tag
                | сайт
            a(href="companies/megafon.html").tags-block_tag.tags-block_tag-secondary
                | подробнее  

        .cards_item
          a(href="companies/tinkoff.html").cards_item_logo
            img(src="http://designsystemsclub.ru/img/logos/Tinkoff.svg")
          .cards_item_text-block
            .cards_item_title
              | Тинькофф
            .cards_item_text
              | Дизайн-команда одного из самых передовых банков.
          .tags-block.tags-block_inCard
            a(href="companies/tinkoff.html").tags-block_tag.tags-block_tag-secondary
                | подробнее 

    .conferences-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_conferences
          | Конференции

      .cards.cards_conferences
        .cards_item.cards_item_conferences
          iframe(src='https://www.youtube.com/embed/PaxBf8yQLNY', frameborder='0', gesture='media', allow='encrypted-media', allowfullscreen='')


    include ../base_templates/footer.pug
