extends ../base_templates/base

block body
  .content-block
    .hero-block
      .titles.titles_hero
        h1.titles_hero_heading
          span.titles_hero_heading_1
            | Design systems             
          span.titles_hero_heading_2
            | Club
        p.titles_hero_text
          | Несколько слов о том, зачем мы здесь, собственно, собрались и что интересного вы найдете на этой странице.          
        button.button.button_main Подать заявку

    .true-systems-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_true
          | компонентные
          br
          | дизайн-системы

      .cards        
        a(href="mailru.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/MailRu.svg")
          .cards_item_text-block
            .cards_item_title
              | Paradigm
            .cards_item_text
              | Портальная дизайн-команда постепенно унифицирует продукты.
          .cards_item_tags-block
            .cards_item_tag
                | сайт
            .cards_item_tag
                | статьи
            .cards_item_tag
                | презентации
              
        a(href="yandex.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Yandex.svg")
          .cards_item_text-block
            .cards_item_title
              | Лего
            .cards_item_text
              | Платформа от создателей БЭМ для унификации продуктов компании.
          .cards_item_tags-block
            .cards_item_tag
                | сайт
            .cards_item_tag
                | статьи
            .cards_item_tag
                | презентации
          .cards_item_tags-block
            .cards_item_tag
                | репозиторий
            .cards_item_tag
                | инструменты

        a(href="alfabank.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Alfabank.svg")
          .cards_item_text-block
            .cards_item_title
              | Feather
            .cards_item_text
              | Дизайн-команда одного из ведущих банков.
          .cards_item_tags-block
            .cards_item_tag
              | сайт
            .cards_item_tag
              | презентации
          .cards_item_tags-block
            .cards_item_tag
                | репозиторий

        a(href="gov.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/gov.svg")
          .cards_item_text-block
            .cards_item_title
              | Дизайн Государственных Систем
            .cards_item_text
              | Единая платформа для сайтов государственных органов и учреждений.
          .cards_item_tags-block
            .cards_item_tag
                | сайт
            .cards_item_tag
                | статьи
            .cards_item_tag
                | презентации
          .cards_item_tags-block
            .cards_item_tag
                | репозиторий

        a(href="rambler.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Rambler.svg")
          .cards_item_text-block
            .cards_item_title
              | Rambler
            .cards_item_text
              | Дизайн-команда одного из крупнейших отечественных порталов.
          .cards_item_tags-block
            .cards_item_tag
                | сайт
            .cards_item_tag
                | статьи
            .cards_item_tag
                | презентации

    .basic-systems-block
      .titles.titles_companies
        h2.titles_companies_heading.titles_companies_heading-decoration_basic
          | дизайн-системы
        p.titles_companies_subtitle
          | Нет публичной ссылки на сайт или репозиторий

      .cards
        a(href="acronis.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Acronis.svg")
          .cards_item_text-block
            .cards_item_title
              | Acronis
            .cards_item_text
              | Унификация веб- и десктопных продуктов.
          .cards_item_tags-block
            .cards_item_tag
                | статьи

        a(href="megafon.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Megafon.svg")
          .cards_item_text-block
            .cards_item_title
              | Мегафон
            .cards_item_text
              | Дизайн-команда отвечает за портал, интернет-магазин, личный кабинет и цифровые гайдлайны бренда.
          .cards_item_tags-block
            .cards_item_tag
                | сайт
            .cards_item_tag
                | статьи

        a(href="tinkoff.html" target="_blank").cards_item
          .cards_item_logo
            img(src="https://mailru.github.io/designsystemsclub/img/logos/Tinkoff.svg")
          .cards_item_text-block
            .cards_item_title
              | Тинькофф
            .cards_item_text
              | Дизайн-команда одного из самых передовых банков.
          .cards_item_tags-block
            .cards_item_tag
                | статьи

    .footer-block
      .footer-block_text
        | Mail.Ru Design #[a(href="#") @mailrudesign]
        br
        | Андрей Сундиев #[a(href="#")  @asundiev] и Юрий Ветров #[a(href="#") @jvetrau]  
