extends ../base_templates/base

block body
  .content-block
    .hero-block
      .titles.titles_hero
        h1.titles_hero_heading
          span.titles_hero_heading_1
            | Design systems             
          span.titles_hero_heading_2
            | Club
        p.titles_hero_text
          | Несколько слов о том, зачем мы здесь, собственно, собрались и что интересного вы найдете на этой странице.          
        button.button.button_main Подать заявку
    .companies-block
      .titles.titles_companies
        h2.titles_companies_heading
          | компонентные
          br
          | дизайн-системы
      .cards
        .cards_item
          | 1
        .cards_item
          | 2
        .cards_item
          | 3
        .cards_item
          | 4
