extends ../base_templates/base

block body
  .content-block.content-block_company
    a(href="index.html").button.button_back Вернуться
    .company-page_logo
      img(src="https://mailru.github.io/designsystemsclub/img/logos/MailRu.svg")
    .tags-block
      a(href="http://design.mail.ru/paradigm/"  ).tags-block_tag
          | сайт
      a(href="#articles").tags-block_tag
          | статьи
      a(href="#presentations").tags-block_tag
          | презентации

    .articles-block
      .titles.titles_companies
        h2#articles.titles_companies_heading.titles_companies_heading-decoration_articles
          | Статьи

      .articles-block_container

        a(href="https://habrahabr.ru/company/mailru/blog/333510/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Paradigm  —  дизайн-система Mail.Ru Group, часть 1: визуальный язык
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров, Артём Гладков, Евгений Долгов и Андрей Сундиев
              .articles-block_item-source 
                | habrahabr.ru

        a(href="http://www.jvetrau.com/unification-1/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Унификация дизайна: Фреймворк Mail.Ru Group для мобильного веба
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | jvetrau.com

        a(href="https://www.smashingmagazine.com/2015/02/product-design-unification-case-study-mobile-web-framework/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Product Design Unification Case Study: Mobile Web Framework
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | smashingmagazine.com

        a(href="http://www.jvetrau.com/unification-2/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Унификация через «бургерный дизайн»: Фреймворк Mail.Ru Group для контент-проектов
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | jvetrau.com

        a(href="https://www.smashingmagazine.com/2015/07/product-design-unification-case-study-part-2-burger-driven-framework/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Product Design Unification Case Study, Part 2: "Burger-Driven" Framework
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | smashingmagazine.com

        a(href="http://www.jvetrau.com/uxstrategy-3/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | UX-стратегия на практике. Часть 3 — Платформенное мышление
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | jvetrau.com

        a(href="https://www.uxmatters.com/mt/archives/2015/08/applied-ux-strategy-part-3-platform-thinking.php"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Applied UX Strategy, Part 3: Platform Thinking
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | uxmatters.com

        a(href="https://habrahabr.ru/company/mailru/blog/266713/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Унификация дизайна со стороны бэкенда: JavaScript на сервере
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Александр Бекбулатов
              .articles-block_item-source 
                | habrahabr.ru

        a(href="https://habrahabr.ru/company/mailru/blog/256869/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Наш опыт переезда на адаптивный UI-кит
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Дмитрий Беляев
              .articles-block_item-source 
                | habrahabr.ru

        a(href="https://habrahabr.ru/company/mailru/blog/309212/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Frontend: Разработка и поддержка (+голосование)
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Константин Лебедев
              .articles-block_item-source 
                | habrahabr.ru


    .articles-block
      .titles.titles_companies
        h2#presentations.titles_companies_heading.titles_companies_heading-decoration_presentations
          | Презентации

      .articles-block_container
        a(href="https://www.slideshare.net/asundiev/cultdigital-2017-paradigm"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | Cult.digital 2017: Дизайн-система Paradigm. Практика реализации
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Андрей Сундиев
              .articles-block_item-source 
                | slideshare.com

        a(href="https://www.slideshare.net/jvetrau/uxpeople-2015"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | UXPeople 2015: Юрий Ветров — Платформенное мышление
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | slideshare.com

        a(href="https://www.slideshare.net/jvetrau/uxrussia2014-burgerdriven-design-mail"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | UXRussia2014: Юрий Ветров ― Burger-Driven Design. Фреймворк Mail.Ru для унификации контент-проектов
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | slideshare.com

        a(href="https://habrahabr.ru/company/mailru/blog/333510/"  ).articles-block_item
          .articles-block_item-wrapper
            .articles-block_item-header
              | WUD2013: Юрий Ветров — Унификация, vol. 1. Фреймворк Mail.Ru для мобильного веба
            .articles-block_item-subtitle
              .articles-block_item-author 
                | Юрий Ветров
              .articles-block_item-source 
                | slideshare.com



    .footer-block
      .footer-block_text
        | Mail.Ru Design #[a(href="#") @mailrudesign]
        br
        | Андрей Сундиев #[a(href="#")  @asundiev] и Юрий Ветров #[a(href="#") @jvetrau]  
